*.txt
*.exe
*.ba2
**/__history
*.identcache
*.local
*.stat
*.res

/src/plugins/xEdit/data
/src/models-and-animations/nifTools
/src/models-and-animations/LOD Patching/blocks/
/src/models-and-animations/LOD Patching/Win32
/src/plugins/xEdit/Delphi/Win32/Debug/
